.Promo {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
}

.Promo .content {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
